/PiedraPapelTijeraEnFunciones/nbproject/private/
/PiedraPapelTijeraEnFunciones/build/
/PiedraPapelTijeraEnFunciones/dist/
/RuletaEnFunciones/nbproject/private/
/RuletaEnFunciones/build/
/RuletaEnFunciones/dist/
